*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#04061f;
    min-height:100vh;
    font-family:'Orbitron',sans-serif;
    color:white;
    padding:50px 20px;
}

.settings-container{
    width:100%;
    max-width:550px;
    margin:auto;
}

.settings-icon{
    width:70px;
    height:70px;
    border-radius:50%;
    margin:auto;
    background:linear-gradient(135deg,#6677ff,#a66dff);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    margin-bottom:20px;
}

h1{
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#a8abd3;
    margin-bottom:35px;
}

.section{
    margin-bottom:35px;
}

.section h2{
    margin-bottom:15px;
    font-size:18px;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:`#151932`;
    color:white;
    margin-bottom:15px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

input:focus-visible{
    outline-color:`#8a63ff`;
}

input::placeholder{
    color:#7f83a8;
}

.btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:30px;
    background:linear-gradient(90deg,#6578ff,#a76cff);
    color:white;
    font-family:'Orbitron',sans-serif;
    cursor:pointer;
}

.password-box{
    position:relative;
}

.eye{
    position:absolute;
    right:15px;
    top:15px;
    cursor:pointer;
}

.setting-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.switch{
    position:relative;
    width:50px;
    height:26px;
}

.switch input{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border:0;
}

.slider{
        position:absolute;
    cursor:pointer;
    inset:0;
    background:#2b305e;
    border-radius:30px;
}

.slider:before{
    content:"";
    position:absolute;
    width:18px;
    height:18px;
    left:4px;
    top:4px;
    background:white;
    border-radius:50%;
    transition:.3s;
}

.switch input:checked + .slider{
    background:#8a63ff;
}

.switch input:checked + .slider:before{
    transform:translateX(24px);
}

.delete-btn{
    width:100%;
    padding:14px;
    border:1px solid #ff4d6d;
    background:transparent;
    color:#ff4d6d;
    border-radius:30px;
    cursor:pointer;
    font-family:'Orbitron',sans-serif;
}

@media(max-width:600px){

    .settings-container{
        max-width:100%;
    }

    h1{
        font-size:28px;
    }
}

